{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 p-0 ">
                <div class="shape_wrapper">
                    <img src="{% static 'images/shapes/bubble_shpe_1.png' %}" alt="" class="shape_t_1">
                    <img src="{% static 'images/shapes/round_shpae_1.png' %}" alt="" class="shape_t_2">
                </div>
            </div>
            <div class="col-12 col-sm-9 col-md-9 col-lg-9 p-0 become_techer_wrapper">
                <div class="become_a_teacher">
                    <div class="title">
                        <h2>Ready for experience IT world</h2>
                    </div><!-- ends: .section-header -->
                    <div class="get_s_btn">
                        <a href="#" title="">Get Started Now</a>
                    </div>
                    <img src="{% static 'images/shapes/bubble_shpe_2.png' %}" alt="" class="shape_t_1">
                </div>
            </div>
        </div>
        <div class="footer_top">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer_single_col footer_intro">
                        <img src="{% static 'images/logo2.png' %}" alt="" class="f_logo">

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="footer_single_col">
                        <h3>Useful Links</h3>
                        <ul class="location_info quick_inf0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Courses</a></li>
                            <li><a href="#">Tutorials</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer_single_col contact">
                        <h3>Contact Us</h3>
                        <p>Fell free to get in touch us via Phone or send us a message.</p>
                        <div class="contact_info">
                            <span>+91 7976664814/+917948997192</span>
                            <span class="email">info@waytocode.in</span>
                        </div>
                        <ul class="social_items d-flex list-unstyled">
                            <li><a href="#"><i class="fab fa-facebook-f fb-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter twitt-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in link-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram ins-icon"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="round_shape">
        <span class="shape_1"></span>
        <span class="shape_2"></span>
        <span class="shape_3"></span>
        <span class="shape_4"></span>
        <span class="shape_5"></span>
        <span class="shape_6"></span>
    </div>
    <img src="{% static 'images/shapes/footer_bg_shpe_1.png' %}" alt="" class="shapes1_footer">
</footer>