{% load static %}
<footer class="footer_2">
    <div class="container">
        <div class="footer_top">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer_single_col footer_intro">
                        <img src="{% static 'images/logo2.png' %}" alt="" class="f_logo">
                    </div>

                    <div class="footer_single_col footer_intro">
                        <a href="https://play.google.com/store/apps/details?id=waytocode"><img src="{% static 'images/appstore.jpg' %}" alt="" class="f_logo"></a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="footer_single_col">
                        <h3>Useful Links</h3>
                        <ul class="location_info quick_inf0">
                             <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="{% url 'livetraining' %}">Courses</a></li>
                            <li><a href="">Tutorials</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                 <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer_single_col contact">
                        <h3>Contact Us</h3>
                        <p>Fell free to get in touch us via Phone or send us a message.</p>
                        <div class="contact_info">
                            <span>+91 7976664814/+917948997192</span>
                            <span class="email">info@waytocode.in</span>
                        </div>
                        <ul class="social_items d-flex list-unstyled">
                            <li><a href="#"><i class="fab fa-facebook-f fb-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter twitt-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in link-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram ins-icon"></i></a></li>
                        </ul>
                    </div>
                </div>

                 <div class="col-12 col-md-12 col-lg-12">
                    <div class="copyright">
                        <a target="_blank" href="https://waytocode.in/">Way To Code</a>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    <div class="shapes_bg">
        <img src="{% static 'images/shapes/testimonial_2_shpe_1.png' %}" alt="" class="shape_3">
        <img src="{% static 'images/shapes/footer_2.png' %}" alt="" class="shape_1">
    </div>
</footer>