<!doctype html>
{% load static %}
<html lang="en">
    {% include 'links.html' %}
<body>
<header class="header_four">
<!-- Preloader -->
    {% include 'header.html' %}

    <!--==================
        Slider
    ===================-->
    <div class="rev_slider_wrapper">
        <div id="rev_slider_1" class="rev_slider">
            <ul>
                <li data-index="rs-1706" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                    <div class="slider-overlay"></div>
                    <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                    <img src="{% static 'images/banner/Training1.jpg' %}" alt="Sky" class="rev-slidebg"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption font-lora sfb tp-resizeme letter-space-5 h-p"
                        data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-200','-280','-250','-200']"
                        data-fontsize="['20','40','40','28']"
                        data-lineheight="['70','80','70','70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":100,"split":"chars","splitdelay":0.05,"ease":"Power3.easeInOut"},{"delay":"wait","speed":100,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'

                        style="z-index: 7; color:#fff; font-family:'Rubik', sans-serif; max-width: auto; max-height: auto; white-space: nowrap; font-weight:500;">The Goal Of Training Is The Advancement Of Knowledge
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme"
                        id="slide-3045-layer-1"
                        data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-120','-140','-140','-120']"
                        data-fontsize="['65','120','100','70']"
                        data-lineheight="['70','120','70','70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 900; white-space: nowrap;text-transform:left;">Take The First Step To
                    </div>

                    <!-- LAYER NR.3 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme"
                        id="slide-3045-layer-1"
                        data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-40','0','-10','-40']"
                        data-fontsize="['65','120','100','70']"
                        data-lineheight="['70','120','70','70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 900; white-space: nowrap;text-transform:left;">Knowledge With Us.
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption rev-btn rev-btn left_btn"
                        id="slide-2939-layer-8"
                        data-x="['left','left','left','left']" data-hoffset="['0','500','420','280']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['75','220','190','100']"
                        data-fontsize="['14','14','10','8']"
                        data-lineheight="['34','34','30','20']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="button"
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#ffffff;bg:#ff5a2c;bw:2px 2px 2px 2px;"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[12,12,8,8]"
                        data-paddingright="[40,40,30,25]"
                        data-paddingbottom="[12,12,8,8]"
                        data-paddingleft="[40,40,30,25]"

                        style="z-index: 14; white-space: nowrap; font-weight: 500; color: #ffffff;font-family:Rubik; text-transform:uppercase; background-color:#ff5a2c; border-color:rgba(0, 0, 0, 1.00); border-width:2px;  border-radius: 3px;">Get Started Now
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption rev-btn rev-btn right-btn"
                        id="slide-2939-layer-8"
                        data-x="['left','left','left','left']" data-hoffset="['250','-60','-130','-100']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['75','220','190','100']"
                        data-fontsize="['14','14','10','8']"
                        data-lineheight="['34','34','30','20']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="button"
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#fff;bg:#ff5a2c;bw:2px 2px 2px 2px; "}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[12,12,8,8]"
                        data-paddingright="[40,40,30,25]"
                        data-paddingbottom="[12,12,8,8]"
                        data-paddingleft="[40,40,30,25]"

                        style="z-index: 14; white-space: nowrap;  font-weight:500; color:#ffffff; font-family:Rubik; text-transform:uppercase; background-color:#092ace; letter-spacing:1px; border-radius: 3px;">View Courses
                    </div>
                </li>

                <li data-index="rs-1708" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <div class="slider-overlay"></div>
                    <img src="{% static 'images/banner/Training2.jpg' %}" alt="Sky" class="rev-slidebg"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption font-lora sfb tp-resizeme letter-space-5 h-p"
                        data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-200','-280','-250','-200']"
                        data-fontsize="['20','40','40','28']"
                        data-lineheight="['70','80','70','70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":100,"split":"chars","splitdelay":0.05,"ease":"Power3.easeInOut"},{"delay":"wait","speed":100,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'

                        style="z-index: 7; color:#fff; font-family:'Rubik', sans-serif; max-width: auto; max-height: auto; white-space: nowrap; font-weight:500;">The Goal Of Training Is The Advancement Of Knowledge
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme"
                        id="slide-3045-layer-11"
                        data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-120','-140','-140','-120']"
                        data-fontsize="['65','120','100','70']"
                        data-lineheight="['70','120','70','70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 700; white-space: nowrap;text-transform:left;">Take The First Step To
                    </div>

                    <!-- LAYER NR.3 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme"
                        id="slide-3045-layer-12"
                        data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-40','0','-10','-40']"
                        data-fontsize="['65','120','100','70']"
                        data-lineheight="['70','120','70','70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 5; font-family:'Roboto', sans-serif; font-weight: 700; white-space: nowrap;text-transform:left;">Knowledge With Us.
                    </div>

                        <!-- LAYER NR. 4 -->
                    <div class="tp-caption rev-btn rev-btn left_btn"
                        id="slide-2939-layer13"
                        data-y="['middle','middle','middle','middle']" data-voffset="['75','220','190','100']"
                        data-fontsize="['14','14','10','8']"
                        data-lineheight="['34','34','30','20']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="button"
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#ffffff;bg:#ff5a2c;bw:2px 2px 2px 2px;"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[12,12,8,8]"
                        data-paddingright="[40,40,30,25]"
                        data-paddingbottom="[12,12,8,8]"
                        data-paddingleft="[40,40,30,25]"

                        style="z-index: 14; white-space: nowrap; font-weight: 500; color: #ffffff;font-family:Rubik; text-transform:uppercase; background-color:#ff5a2c; border-color:rgba(0, 0, 0, 1.00); border-width:2px;  border-radius: 3px;">Get Started Now
                    </div>
                        <!-- LAYER NR. 5 -->
                    <div class="tp-caption rev-btn rev-btn right-btn"
                        id="slide-2939-layer-15"
                        data-x="['left','left','left','left']" data-hoffset="['250','-60','-130','-100']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['75','220','190','100']"
                        data-fontsize="['14','14','10','8']"
                        data-lineheight="['34','34','30','20']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="button"
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#fff;bg:#ff5a2c;bw:2px 2px 2px 2px; "}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[12,12,8,8]"
                        data-paddingright="[40,40,30,25]"
                        data-paddingbottom="[12,12,8,8]"
                        data-paddingleft="[40,40,30,25]"

                        style="z-index: 14; white-space: nowrap;  font-weight:500; color:#ffffff; font-family:Rubik; text-transform:uppercase; background-color:#092ace; letter-spacing:1px; border-radius: 3px;">View Courses
                    </div>
                </li>

            </ul><!-- END SLIDES LIST -->
        </div><!-- END SLIDER CONTAINER -->
    </div><!-- END SLIDER CONTAINER WRAPPER -->
</header> <!--  End header section-->

<section class="cources_highlight">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="latest_blog_carousel">
                     <div class="single_item single_item_first">
                        <div class="blog-img">
                            <a href="#"><img src="{% static 'images/features/training_team.jpg' %}" alt="" class="img-fluid" style="height:280px;"></a>
                        </div>
                        <div class="blog_title">
                            <span>Get Trained by</span>
                            <h3><a href="#" title="">Our Skilled Team</a></h3>
                            <p>You will be trained by our skilled experts who have a great experience of working in the real world and get</p><strong>"100% placement"</strong>
                        </div>
                    </div>

                    <div class="single_item single_item_center">
                        <div class="blog-img">
                            <a href="#" title=""><img src="{% static 'images/features/features_2.jpg' %}" alt="" class="img-fluid"></a>
                        </div>
                        <div class="blog_title">
                            <span>Work On</span>
                            <h3><a href="#" title="">Live Projects</a></h3>
                            <p>
Working on a real project is a big thing in today's world. The training institute will never give you the experience to work on a live project, but we are an IT comapny, so we will give you that experience.</p>
                        </div>
                    </div>

                   <div class="single_item single_item_last">
                        <div class="blog-img">
                            <a href="#" title=""><img src="{% static 'images/features/one_to_one.jpg' %}" alt="" class="img-fluid" style="height:280px;"></a>
                        </div>
                        <div class="blog_title">
                            <span>Get Industrial</span>
                            <h3><a href="#" title="">One to one Training</a></h3>
                            <p>We will not teach you to keep it with many students. We give you one to one training, so you can understand freely and you will get </p><strong>"Life Time Free Validity"</strong>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section><!-- End Popular Courses Highlight -->


<section class="courses_features">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-12 col-sm-12 col-md-9 col-lg-9">
				<div class="sub_title">
					<h2>We Have Courses As per  <br>your requirements</h2>
				</div><!-- ends: .section-header -->
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-6 col-md-4 col-lg-4 single_features_wrapper">
				<div class="feature_single feature_single_1">
					<img src="{% static 'images/features/live_training.jpg' %}" style="height:280px;" alt="">
					<div class="feature_content">
						<a href="#" title=""><h3>Live Training</h3></a>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 col-lg-4 single_features_wrapper">
				<div class="feature_single feature_single_2">
					<img src="{% static 'images/features/college_internship_course.png' %}" style="height:280px;" alt="">
					<div class="feature_content">
						<a href="#" title=""><h3>College Internship</h3></a>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 col-lg-4 single_features_wrapper">
				<div class="feature_single feature_single_3">
					<img src="{% static 'images/features/college_project_course.jpg' %}" style="height:280px;" alt="">
					<div class="feature_content">
						<a href="#" title=""><h3>College Project</h3></a>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 col-lg-4 single_features_wrapper">
				<div class="feature_single feature_single_4">
					<img src="{% static 'images/features/industrial_training_course.jpg' %}" alt="" style="height:280px;">
					<div class="feature_content">
						<a href="#" title=""><h3>Indusrial Training</h3></a>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 col-lg-4 single_features_wrapper">
				<div class="feature_single feature_single_5">
					<img src="{% static 'images/features/online_training_course.jpg' %}" style="height:280px;" alt="">
					<div class="feature_content">
						<a href="#" title=""><h3>Online Training</h3></a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-4 single_features_wrapper">
				<div class="feature_single feature_single_6">
					<img src="{% static 'images/features/job_oriented_courses.jpg' %}" style="height:280px;" alt="">
					<div class="feature_content">
						<a href="#" title=""><h3>Job Oriented Training</h3></a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section> <!-- ./ End Courses Area section -->


<section class="about_top_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                <div class="title">
                    <h2>Take The First Step To Learn With Us.</h2>
                    <p>We provide one to one training by skilled professionals, give chance to work in our live project and get the real time experience.</p>
                 </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 ml-auto p-0">
                <div class="banner_learn">
                    <img src="{% static 'images/banner/training_container.jpg' %}" alt="" class="img-fluid">
                 </div>
            </div>
        </div>
    </div>
    <div class="items_shape"></div>
    <div class="story_about">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-7 col-lg-7">
                    <div class="story_banner">
                        <img src="{% static 'images/banner/about_us.jpg' %}" alt="" class="img-fluid">
                     </div>
                </div>
                <div class="col-12 col-sm-6 col-md-5 col-lg-5">
                    <div class="about_story_title">
                        <h2>The Srory Of Our Way To Code.</h2>
                        <p>Way to code is established in 2018. We have team of enthusiastic and hard working people who always works for envision to the requirements of client. </p>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End about_top_wrapper -->

<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <div class="testimonial_title">
                    <h2>Student Say About Us.</h2>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                <div class="testimonial_text_wrapper">
                    <div class="carousel_text slider-for">
                        <div>
                            <div class="single_box wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                <p>My experience with Way to Code is very joyfull. Highly Experience staff and motivating environment.</p>
                            </div>
                        </div>
                        <div>
                            <div class="single_box wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                                <p>Actually what i found wonderful is the person who teaches and manages this company is having 9+ years of experience so he is just amazing. As a college student i have to manage my time so i don't have much time but sir here always teaches me in my comfortable time and always helps me in every problem. So i will recommend u all to come here for any software related courses as the fees is also very affordable and service is great.</p>
                            </div>
                        </div>
                        <div>
                            <div class="single_box wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                                <p>very good place for learning all technologies , they have experienced trainners and friendly environment..</p>
                            </div>
                        </div>
                    </div>
                    <div class="reviewer_info">
                        <div class="carousel_images slider-nav">
                            <div class="restimonial_single_img">
                                <img src="{% static 'images/team/student_icon.jpg' %}" alt="2" class="img-fluid">
                                <div class="name_position">
                                    <span class="name">Vishal Taily</span>
                                    <span>Android Developer</span>
                                </div>
                            </div>
                            <div class="restimonial_single_img">
                                <img src="{% static 'images/team/student_icon_2.png' %}" alt="2" class="img-fluid ">
                                <div class="name_position">
                                    <span class="name">Kush Bhatia</span>
                                    <span>Android Developer</span>
                                </div>
                            </div>
                            <div class="restimonial_single_img ">
                                <img src="{% static 'images/team/student_icon_3.png' %}" alt="2" class="img-fluid">
                                <div class="name_position">
                                    <span class="name">Ranjan Anjara</span>
                                    <span>Python Developer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section><!-- End Testimonial -->



<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="sub_title">
                    <h2>Our Latest Blog</h2>
                </div><!-- ends: .section-header -->
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                 <div class="single_item single_item_first">
                    <div class="blog-img">
                        <a href="#" title=""><img src="{% static 'images/blog/Python_blog.jpg' %}" alt="" class="img-fluid" style="height: 400px; width: 500px;"></a>
                    </div>
                    <div class="blog_title">
                        <span>Python Development</span>
                        <h3><a href="#" title="">How to Become Master In Python Developement</a></h3>
                        <div class="post_bloger">
                            <span>15/01/2021 - By </span> <span class="bloger_name">Rukhshar Mirza</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="single_item single_item_center">
                     <div class="blog-img">
                        <a href="#" title=""><img src="{% static 'images/blog/Android_blog.jpg' %}" alt="" class="img-fluid" style="height: 400px; width: 500px;"></a>
                    </div>
                    <div class="blog_title">
                        <span>Android Development</span>
                        <h3><a href="#" title="">Mobile Application Developement.</a></h3>
                        <div class="post_bloger">
                            <span>15/01/2021 - By </span> <span class="bloger_name">Nikita Patel</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
               <div class="single_item single_item_last">
                     <div class="blog-img">
                        <a href="#" title=""><img src="{% static 'images/blog/Java_blog.png' %}" alt="" class="img-fluid" style="height: 400px; width: 500px;"></a>
                    </div>
                    <div class="blog_title">
                        <span>Java Development</span>
                        <h3><a href="#" title="">What carrer path should I take<br>To become a Java Developer</a></h3>
                        <div class="post_bloger">
                            <span>15/01/2021 - By </span> <span class="bloger_name">Vinod Sonava</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Blog  -->


<section class="our_sponsor">

</section><!-- ./ End Our Sponsor -->

{% include 'footer_home.html' %}

<!-- End Footer -->

<section id="scroll-top" class="scroll-top">
    <h2 class="disabled">Scroll to top</h2>
    <div class="to-top pos-rtive">
        <a href="#"><i class = "flaticon-right-arrow"></i></a>
    </div>
</section>

    <!-- JavaScript -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Revolution Slider -->
    <script src="{% static 'js/assets/revolution/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
    <!-- Counter Script -->
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- Revolution Extensions -->
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.video.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/revolution.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>


    <!-- =========================================================
         STYLE SWITCHER | ONLY FOR DEMO NOT INCLUDED IN MAIN FILES
    ============================================================== -->

</body>


</html>
