 <div class="top-bar-area address-two-lines bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 address-info">
                    <div class="info box">
                        <ul>
                            <li>
                                <span><i class="fas fa-envelope-open"></i> Email</span>Info@waytocode.com
                            </li>
                            <li>
                                <span><i class="fas fa-phone"></i> Contact</span>+91 7976664814
                            </li>
                            <li>
                                <span><i class="fab fa-whatsapp"></i> Whatsapp</span>+919461262751
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>