{% load static %}
<header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-sticky bootsnav">

            <!-- Start Top Search -->
            <div class="container">
                <div class="row">
                    <div class="top-search">
                        <div class="input-group">
                            <form action="#">
                                <input type="text" name="text" class="form-control" placeholder="Search">
                                <button type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Search -->

            <div class="container">

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="{% static 'assets/img/logo.png' %}" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                         <li>
                            <a href="{% url 'webindex' %}">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'webdevelopment' %}" class="dropdown-toggle active" data-toggle="dropdown" >Company</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'about' %} ">About us</a></li>
                                <li><a href="{% url 'ceo' %}">CEO & Founder</a></li>
                                <li><a href="{% url 'webdesigning' %}">Way to Code gallary</a></li>
                                <li><a href="{% url 'career' %}">Career</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'webdevelopment' %}" class="dropdown-toggle active" data-toggle="dropdown" >Services</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'webdevelopment' %} ">Web Development</a></li>
                                <li><a href="{% url 'appdevelopment' %}">App Development</a></li>
                                <li><a href="{% url 'webdesigning' %}">Design Services</a></li>
                                <li><a href="{% url 'digitalmarketing' %}">Digital Marketing</a></li>
                                <li><a href="{% url 'testing' %}">QA & Testing</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" >Technologies</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'python' %}">Python</a></li>
                                <li><a href="{% url 'asp.net' %}">Asp .Net</a></li>
                                <li><a href="{% url 'java' %}">Java</a></li>
                                <li><a href="{% url 'php' %}">PHP</a></li>
                                <li><a href="{% url 'ror' %}">ROR</a></li>
                                <li><a href="{% url 'golang' %}">GOLANG</a></li>
                                <li><a href="{% url 'android' %}">Android</a></li>
                                <li><a href="{% url 'ios' %}">IOS</a></li>
                                <li><a href="{% url 'angularjs' %}">Angular JS</a></li>
                                <li><a href="{% url 'nodejs' %}">Node JS</a></li>
                                <li><a href="{% url 'reactjs' %}">React JS</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'index' %}">Training</a>
                        </li>
                        <li>
                            <a href="{% url 'portfolio' %}">Portfolio</a>
                        </li>
                        <li>
                            <a href="{% url 'career' %}">Career</a>
                        </li>

                        <li>
                            <a href="{% url 'webcontact' %}">contact</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

        </nav>
        <!-- End Navigation -->

    </header>