{% load static %}
<footer class="bg-dark default-padding-top text-light">
        <div class="container">
            <div class="row">
                <div class="f-items">
                    <div class="col-md-4 item">
                        <div class="f-item">
                            <img src="{% static 'assets/img/logo-light.png' %}" alt="Logo">
                            <p>
                                Way To Code Technologies is young and dynamic company. We believe that information technology is necessity of the 21st century, where every thing now going to develop on international level. Way To Code Technologies, built Android applications for wide domain areas and industries like Business, Fitness, E-commerce, and Sales Force. Our expert team members provide the best services for your organization. Your work & time is precious for us & we ensure it is built by our web designing and development experts.
                            </p>
                            <p>
                                Our quality is customized service, high-quality solutions, market oriented and understanding of clients requirements. Our extensive work for the mobile application development in Android, iOS and Flutter, specialized e-commerce,marketing, business and social.
                            </p>

                            <div class="subscribe">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 item">
                        <div class="f-item link">
                            <h4>Links</h4>
                            <ul>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Training</a>
                                </li>
                                <li>
                                    <a href="#">Portfolio</a>
                                </li>
                                <li>
                                    <a href="#">Career</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 item">
                        <div class="f-item address">
                            <h4>Address</h4>
                            <ul>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <p>Email <span><a href="info.hmt@waytocode.in">info.hmt@waytocode.in</a></span></p>
                                </li>
                                <li>
                                    <i class="fas fa-map"></i>
                                    <p>Office <span>1st Floor,Siddhi Vinayak Complex,Near Cinemagic, Station Road Himatnagar Sabarkantha,Gujrat 383001</span></p>
                                </li>
                            </ul>
                            <div class="opening-info">
                                <h5>Opening Hours</h5>
                                <ul>
                                    <li> <span> Mon - Sat :  </span>
                                      <div class="pull-right"> 9.00 am - 8.00 pm </div>
                                    </li>

                                    <li> <span> Sun : </span>
                                      <div class="pull-right closed"> Closed </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p>&copy; Copyright 2019. All Rights Reserved by <a href="{% url 'webindex' %}">WayToCode</a></p>
                        </div>
                        <div class="col-md-6 text-right link">
                            <ul>
                                <li>
                                    <a href="#">Terms of user</a>
                                </li>
                                <li>
                                    <a href="#">License</a>
                                </li>
                                <li>
                                    <a href="#">Support</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>